
.resource-page{

  .dir-create-con{

    #dir-name-input{
      margin: 0 20px;
    }

    .dir-add-btn{
      margin-left: 20px;
    }
  }

  .dir-path-con{

    .path-label{
      font-size: 16px;
      color: #15c52f;
    }

  }

}