
.rui-form-checkbox{

    position: relative;
    font-size: 14px;

    .checkbox-holder{
        padding-left: 20px;
        background: url(./assets/uncheck-3.png?__inline) scroll no-repeat left center;
        cursor: default;
    }

    &.rui-form-checkbox-checked{

        .checkbox-holder{
            background-image: url(./assets/checked-3.png?__inline);
        }

    }
}