
.designer-header{

  $height: 70px;

  height: $height;
  line-height: $height;
  padding-left: 20px;

  a{
    font-size: 22px;
    margin-right: 15px;
  }

  .header-aside{
    float: right;
    font-size: 16px;
    margin: 0;
    height: 100%;

    .header-op-btn{
      line-height: 26px;
      font-size: 16px;
      height: 100%;
      padding: 6px 24px 0;
      text-align: center;
      background: #444;
      color: #c9c9c9;
      cursor: pointer;

      i{
        font-size: 25px;
      }

      &:hover{
        color: #2bc0e4;
      }
    }
  }
}