
#dash-app{
  position: fixed;
  top: 51px;
  bottom: 0;
  width: 100%;
  background: #fff;

  //菜单栏
  .sidebar{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }

  //右侧主面板
  .main{
    padding: 20px 40px;
  }
}