
html{
  height: 100%;
}

body{
  height:100%;
  min-height: 100%;
}

#dash-app{
  position: relative;
  padding-top: 51px;
  min-height: 100%;
  width: 100%;
  background: #fff;

  .row{
    height: 100%;
  }

  //菜单栏
  .sidebar{
    position: fixed;
    top: 41px;
    bottom: 0;
    left: -5px;
    overflow-y: auto;
    background: #2A3F54;
    border-right: 2px;
    ::-webkit-scrollbar {
      width: 13px;
    }


  }

  //右侧主面板
  .main{
    postion:absolute;
    min-height: 100%;
    padding: 20px 40px;
    overflow-y: auto;
  }
}