
.channel-tree{

  .channel-tree-node{
    .btn{
      margin-left: 15px;
    }
  }

  .r-tree-has-sub{

    .channel-name{
      color:#337ab7;
      text-decoration:none;
      font-weight:500;
      font-size:1.2em;
      cursor: pointer;

      &:hover{

        color:#ff7800;
      }

    }
  }
}