
.style-item-editor{

  margin-bottom: 15px;
  padding: 0 7px;

  .style-editor-label{
    display: block;
    color: #fff;
  }

  .style-edit-input{
    display: block;
    width: 100%;
    padding: 0 6px;
    margin: 0;
    height: 40px;
    line-height: 40px;
    border: 0 none;
  }
}