body{
  background:#fff;
  height:100%;
}

#dash-menu{

  margin-left:0px;
  background:#2A3F54;
  color:#fff;
  padding-top: 20px;
  text-align: left;
  a{
    color:#fff;
    text-decoration: none;
  }
 span{
    position:relative;
    float:right;
 }
  .menu-item{
    padding:5px 0px 5px 10px;
    margin:3px 0 3px 0;
  }
  .menu-item-text{
    padding:7px 0 7px 2px;
  }
  .menu-item-selected{
     color:#fff;
     background:#73879C;
  }

  //子菜单
  .sub-menu-container{

    .child_menu{
      display: none;
    }
  }

  //展开子菜单
  .sub-menu-unfold{
    &>.menu-item-text{
      text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
      background: linear-gradient(#334556, #2C4257),#2A3F54;
      box-shadow: rgba(0,0,0,0.25) 0 1px 0,inset rgba(255,255,255,0.16) 0 1px 0;
    }
    &>.child_menu{
      display: block;
    }
    &>li>a{
    margin-bottom: 6px;
  }
  }
}