

#dash-menu{

  padding: 20px 0;
  text-align: left;

  a{
    text-decoration: none;
  }
 span{
    position:relative;
   float:right;
 }
  .menu-item{
    padding:10px;
  }
  
  .menu-item{

    .menu-item-text{
      &:hover{
        color:#fff;
        background: #66afe9;
      }
    }

  }

  .menu-item-selected{
     color:#fff;
     background:#afd9ee;

  }

  //子菜单
  .sub-menu-container{
   border-bottom:1px solid #d3d3d3;
    background:#f0f0f0;

    .menu-list{
      display: none;
    }
  }

  //展开子菜单
  .sub-menu-unfold{
    background:#f0f0f0;
    .menu-list{
      display: block;
    }
  }
}
//linear-gradient(to bottom, #337ab7 0%, #265a88 100%); #245580;