
.user-role-list{
  position: relative;
  min-height: 400px;
  margin-top: 30px;
  max-height: 400px;
  overflow-y: auto;
  font-size: 16px;

  .role-item{
    line-height: 28px;
    height: 28px;
    margin-bottom: 10px;
  }
}