body, html, main, #app {
  height: 100%;
}

.channel-tree {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  background-color: #fbfbfb;
  border: 1px solid #999;
  height: 100%;
  min-height: 400px;
  overflow-y: auto;
  padding: 19px;
  .channel-name {
    padding: 6px 0 6px 6px;
  }

  a {
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%
  }

  li {
    list-style-type: none;
    margin: 0;
    padding: 6px 0 0 2px;
    position: relative;
  }
  li::before,
  li::after {
    content: '';
    left: -15px;
    position: absolute;
    right: auto;
    top: -10px;
  }
  li::before {
    border-left: 1px solid #999;
    bottom: 10px;
    height: 100%;
    top: -9px;
    width: 4px;
    -webkit-transition: border-color 0.1s ease 0.1s;
    -moz-transition: border-color 0.1s ease 0.1s;
    -o-transition: border-color 0.1s ease 0.1s;
    transition: border-color 0.1s ease 0.1s;
  }
  li::after {
    border-top: 1px solid #999;
    height: 18px;
    top: 22px;
    width: 18px;
    -webkit-transition: border-color 0.1s ease 0.1s;
    -moz-transition: border-color 0.1s ease 0.1s;
    -o-transition: border-color 0.1s ease 0.1s;
    transition: border-color 0.1s ease 0.1s
  }
  li span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    display: inline-block;
    line-height: 18px;
    padding: 2px 6px;
    text-decoration: none;
    -webkit-transition: color .2s ease .1s, background-color .2s ease .1s, border-color .3s ease .2s;
    -moz-transition: color .2s ease .1s, background-color .2s ease .1s, border-color .3s ease .2s;
    -o-transition: color .2s ease .1s, background-color .2s ease .1s, border-color .3s ease .2s;
    transition: color .2s ease .1s, background-color .2s ease .1s, border-color .3s ease .2s;
  }
  li span .btn {
    border: 0px;
  }
  .r-tree {
    .r-tree-has-sub {
      & > ul.r-tree-sub-list {
        & > li.r-tree-sub-collapse {
          span.channel-name {
            background-color:#2D5B89;
            color: #f0f0f0;
          }
          span.channel-name:hover {
            background-color: #3a84cf;
            border: 1px solid #c67605;
            color: #fff;
          }
        }
        span.channel-name:hover {
          background-color: #df8505;
          border: 1px solid #c67605;
          color: #fff;
        }
      }
    }
  }

  li:last-child::before {
    height: 32px;
  }

  & > ul > li::before,
  & > ul > li::after {
    border: 0;
  }
}
