
#dash-header{
  z-index: 32;
  margin-top: -10px;
  height:50px;
  .user-name{
    float: right;
    margin-top:5px;
    line-height: 50px;
    margin-left: 50px;
    color: #fff;
  }
  .navbar-nav{
    margin-top:5px;
    line-height:40px;

  }
  .navbar-brand{
    margin-top:5px;
  }
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #3c3c3c 100%);
  background-image:      -o-linear-gradient(top, #337ab7 0%, #3c3c3c 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#3c3c3c));
  background-image:         linear-gradient(to bottom, #337ab7 0%,#3c3c3c 100%);
}