
html{
  height: 100%;
}


body{
  min-width: initial;
  //height: 100%;
  background: #ebfbe6;
}


.main-content{
  //min-height: 100%;
}


.glpb-component.ui-draggable-dragging{
  width: 60px;
  height: 60px;
  outline: 2px dashed lightblue;
  text-align: center;
}

//拖拽过程中的组件
.gplb-com-drag-holder{
  width: 100px;
  height: 100px;
  outline: 1px solid red;
}



#lpb-com-editor{
  width: 100%;
  //min-height: 100%;
  margin: 0;
  //padding-bottom: 100px;

  //.glpb-com-layout_row:last-of-type{
  //  margin-bottom: 100px;
  //}

  .lpb-component{
    width: 100%;
    outline : 2px dashed gray;
    min-height: 100px;
  }

  .top-droppable-holder{
    height: 200px;
    line-height: 200px;
    font-size: 34px;
    text-align: center;
    outline: 2px dashed blueviolet;
  }

  .ui-state-highlight{
    height: 80px;
    background: orange;
  }

  .custom-state-active{
    outline: 2px dashed green;
  }

  .custom-state-hover{
    background: lightgreen;
  }
}