
.edit-role-dialog {

  $width: 1000px;

  width: $width;
  top: 50px;
  left: 50%;
  margin-left: - $width / 2;

  //错误消息
  .error-info {
    color: red;
  }
  .rui-form-checkbox{
    margin-left:13px;
  }
}