
html, body{
  height: 100%;
}

body{
  min-width: initial;
}

.main-content{
  height: 100%;
  overflow: hidden;
}

#editor-app{
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction:column;

  //头部栏
  #editor-header{
    height: 70px;
    background: #1b1b1b;
  }

  #editor-main{
    position: relative;
    display: flex;
    flex: 1;
    background: #fff;

    //左侧组件编辑/组件选择区域
    #com-edit-section{
      //width: 280px;
      background: #444;
    }

    //组件预览操作区域
    #editor-panel{
      flex: 1;
    }

    $tree-section-width: 300px;

    #page-tree-section{
      display: flex;
      flex-direction:column;
      position: absolute;
      width: 40px;
      height: 100%;
      top: 0;
      right: 0;
      padding-top: 64px;
      overflow: hidden;
      background: #333;
      transition: all 0.4s ease-out .1s;

      .head{
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        line-height: 30px;
        font-size: 18px;
        //border-bottom: 2px solid #fff;
        padding: 15px 0;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        opacity:0;
        transform: scale(0.1);
        transition: all 0.3s ease-out .2s;
      }

      .toggle-btn{
        position: absolute;
        left: 0;
        top: 0;
        font-size: 50px;
        color: #fff;
        width: 40px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        cursor: pointer;

        .toggle-arrow{
          transition: all 0.2s ease-out 0.5s;
        }
      }

      .page-com-outline-tree{
        flex:1;
        width: $tree-section-width;
        overflow: auto;
        background: #fff;
        border-left: 1px solid #333;
        padding: 20px 0 0 20px;
      }

      &.tree-visible{
        width: $tree-section-width;

        .head{
          transform: scale(1);
          opacity: 1;
        }

        .toggle-btn{

          .toggle-arrow{
            transform: rotateZ(180deg);
          }
        }
      }
    }
  }
}

.glpb-component.ui-draggable-dragging{
  width: 60px;
  height: 60px;
  outline: 2px dashed lightblue;
  text-align: center;
}

//拖拽过程中的组件
.gplb-com-drag-holder{
  width: 100px;
  height: 100px;
  outline: 1px solid red;
}

#lpb-com-container{

  margin: 50px auto;

  .lpb-component{
    float: left;
    width: 60px;
    height: 60px;
    outline: 2px dashed lightblue;
    text-align: center;
    margin: 10px auto;
  }
}

#lpb-editor-frame-wrap{
  width: 100%;
  height: 100%;
  background: #ebfbe6;
  margin: 0;
  overflow: auto;
  -webkit-transition: all .1s ease-out 1s;
  transition: all .1s ease-out 1s;

  .lpb-component{
    width: 100%;
    outline : 2px dashed gray;
    min-height: 100px;
  }

  .ui-state-highlight{
    height: 80px;
    background: orange;
  }
}